.container{
    width: 1410px;
    padding: 0;
    margin: 0 auto;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.bima-site{
    background-image: url(./images/site-header-bg.png);
    width: 100%;
    height: 940px;
    background-size: cover;
    padding-top: 20px;
}

.bima-site__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.bima-site__logo{
    width: 173px;
    height: 80px;
}

.bima-site__about{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 1170px;
}

.bima-site__toplist{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 30px;
    border-left: 1px solid #FFFFFF;
    margin: 0;
}

.bima-site__topitem{
    margin: 0;
    padding: 0;
}

.bima-site__toplink{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #FBBE07;
}

.tell::before{
    position: absolute;
    content: "";
    background-image: url(./images/phone.png);
    width: 21px;
    height: 21px;
    top: 0;
    left: -30px;
}

.tell{
    position: relative;
    z-index: 1;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.bima-site__headerselect{
    border: none;
    background-color: transparent;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #FFFFFF;
}

.bima-site__bottomlist{
    list-style-type: none;
    padding-top: 21px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

.bima-site__bottomitem{
    margin: 0;
    padding: 0;
}

.bima-site__bottomselect{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

.bima-site__bottomlink{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.bima-site__info{
    margin-top: 288px;
    padding: 0;
}

.bima-site__infotitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 56px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.bima-site__infotext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 0;
}

.bima-site__infolink{
    text-decoration: none;
    width: 165px;
    height: 52px;
    left: 255px;
    top: 543px;
    background: #FBBE07;
    border-radius: 100px;
    padding: 15px 32px;
}

.bima-site__current{
    margin-top: 251px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bima-site__currentabout{
    display: flex;
    align-items: center;
    width: 320px;
    justify-content: space-between;
}

.current{
    width: 250px;
}

.bima-site__currenttext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 34px;
    color: #9E9E9E;
}

.services{
    background-color: #fff;
    margin-top: 102px;
    padding: 0;
}

.services__info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 43px;
    color: #312B2B;
}

.services__infoimg{
    width: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__list{
    list-style-type: none;
    margin-top: 25px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.services__item{
    width: 330px;
    margin: 0;
    padding-bottom: 33px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
    border-radius: 2px;
}

.services__itemimg{
    width: 100%;
    height: 215px;
    margin-bottom: 10px;
}

.services__iteminfo{
    margin: 0;
    padding-left: 20px;
}

.services__itemtitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 165%;
    color: #312B2B;
    margin: 0;
    padding: 0;
}

.services__itemtext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #8D8D8D;
    margin-top: 10px;
    margin-bottom: 36px;
}

.services__itemlink{
    text-decoration: none;
    width: 150px;
    height: 46px;
    left: 275px;
    top: 1457px;
    background: #FBBE07;
    border-radius: 100px;
    padding: 14px 31px;
}

.news{
    background: #F9F9F9;
    border-radius: 250px 0px;
    margin-top: 90px;
    padding-top: 90px;
    padding-bottom: 100px;
}

.news__about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__title{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 43px;
    color: #312B2B;
}

.news__span{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 145%;
    color: #312B2B;
}

.news__info{
    margin: 0;
    padding: 0;
}

.news__current{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news__currentimg{
    width: 635px;
    height: 301px;
    margin-bottom: 20px;
}

.news__handel{
    width: 352px;
    margin: 0;
    padding: 0;
}

.news__currenttime{
    display: flex;
    align-items: center;
}

.news__currenttimetext{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FBBE07;
    margin: 0;
    padding: 0;
}

.news__currentspan{
    display: block;
    width: 90px;
    height: 1.5px;
    left: 963px;
    top: 1798px;
    background: #FBBE07;
    margin-left: 20px;
}

.news__handeltitle{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 145%;
    color: #312B2B;
}

.news__handeltext{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #8D8D8D;
}

.arvand{
    width: 638px;
}

.reviews{
    background-color: #fff;
    padding: 90px 0px;
}

.reviews__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__headertitle{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 43px;
    color: #312B2B;
    margin: 0;
    padding: 0;
}

.reviews__headerimg{
    width: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__list{
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.reviews__item{
    width: 637px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
    border-radius: 2px;
    padding: 23px 32px 35px 25px;
}

.reviews__itemheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviews__itemabout{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
}

.reviews__itemimg{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.reviews__itemaboutdiv{
    width: 210px;
    margin: 0;
    padding: 0;
}

.reviews__itemheading{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 165%;
    color: #312B2B;
}

.reviews__itemspan{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 165%;
    color: #514A4A;
}

.reviews__itemtext{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 170%;
    color: #8D8D8D;
    margin-top: 22px;
}


.about-company{
    padding: 97px 0px 111px 0px;
    background: #F9F9F9;
    border-radius: 250px 0px;
}

.about-company__bigabout{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.about-company__header{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.about-company__headertitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 43px;
    color: #312B2B;
    margin: 0;
    margin-bottom: 82px;
}

.about-company__headerinfo{
    width: 350px;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
}

.about-company__headerimg{
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.about-company__headercurrent{
    margin: 0;
    padding: 0;
}

.about-company__headerspan{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 165%;
    color: #514A4A;
}

.about-company__headertext{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 165%;
    color: #8D8D8D;
}

.about-company__current{
    display: flex;
    flex-direction: column;
    width: 362px;
}

.about-company__currentinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 362px;
}

.about-company__logo{
    width: 130px;
    height: 60px;
}

.about-current{
    margin-top: 82px;
}

.about-company__logotext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 165%;
    color: #514A4A;
    margin: 0;
    padding: 0;
}

.about-company__logospan{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 165%;
    color: #FBBE07;

}

.about-company__map{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.about-company__mapselect{
    width: 150px;
    height: 50px;
    background: #FBBE07;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    margin-right: 0;
    margin-left: auto;
}

.about-company__mapimg{
    margin-top: 62px;
    width: 528px;
    height: 380px;
}


.partners{
    padding: 90px 0px;
    background-color: #fff;
}

.partners__about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__abouttitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 43px;
    color: #312B2B;

}

.partners__info{
    width: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.partners__item{
    width: 156px;
    background: #FFFFFF;
    box-shadow: 0px 0px 12px 3px rgba(56, 56, 56, 0.05);
    border-radius: 2px;
    padding: 46px 28px;
}


/* FOOTER START */

.bima-footer{
    padding: 36px 0px;
    background: #2F2E33;
}

.bima-footer__info{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.bima-footer__about{
    width: 285px;
    margin: 0;
    padding: 0px;
}

.bima-footer__logo{
    width: 173px;
    height: 80px;
}

.bima-footer__abouttext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 165%;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 44px;
    padding: 0;
}

.bima-footer__abouticon{
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.bima-footer__current{
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0;
    padding: 0;
}

.bima-footer__currenttitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.bima-footer__currentlink{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

.location{
    position: relative;
    z-index: 1;
}

.location::before{
    position: absolute;
    content: "";
    background-image: url(./images/location.png);
    width: 20px;
    height: 20px;
    top: 0;
    left: -35px;
}

.tell{
    position: relative;
    z-index: 1;
}

.tell::before{
    position: absolute;
    content: "";
    background-image: url(./images/phone.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    top: 0;
    left: -35px;
}

.email{
    position: relative;
    z-index: 1;
}

.email::before{
    position: absolute;
    content: "";
    background-image: url(./images/email.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    top: 0;
    left: -35px;
}

.bima-footer__currenttime{
    position: relative;
    z-index: 1;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 170%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.bima-footer__currenttime::before{
    position: absolute;
    content: "";
    background-image: url(./images/time.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    top: 0;
    left: -35px;
}

.bima-footer__vacansy{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.bima-footer__vacansytitle{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.bima-footer__vacansylink{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.vacansy{
    position: relative;
    z-index: 1;
}

.vacansy::before{
    position: absolute;
    content: "";
    background-image: url(./images/vacansy-icon.png);
    background-repeat: no-repeat;
    width: 9px;
    height: 9px;
    top: 8px;
    left: -35px;
}

.tell::before{
    position: absolute;
    content: "";
    background-image: url(./images/phone.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 27px;
    top: 0;
    left: -35px;
}

.bima-footer__vacansyheading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #FBBE07;
}

.line{
    width: 100%;
    opacity: 0.3;
    border: 1px solid #FFFFFF;
    margin-top: 35px;
    margin-bottom: 25px;
}

.bima-footer__copy{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.bima-footer__copytext{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
}

.bima-footer__copyinfo{
    width: 312px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bima-footer__copyinfottext{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;
}

.bima-footer__copylink{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 160%;
    color: #9E9E9E;
}

/* FOOTER END */